<header class="main-header">
  <div class="logo" routerLink="." #logo>
    <img
      width="64"
      height="64"
      ngSrc="./../../assets/icons/slide-logo.jpeg"
      alt
      priority
    />
  </div>

  <div class="desktop-nav">
    <ul class="nav-list">
      <li class="nav-item" routerLink="/three" routerLinkActive="active">
        3 x 3
        <div class="border"></div>
      </li>
      <li class="nav-item" routerLink="/four" routerLinkActive="active">
        4 x 4
        <div class="border"></div>
      </li>
      <li class="nav-item" routerLink="/five" routerLinkActive="active">
        5 x 5
        <div class="border"></div>
      </li>
    </ul>
  </div>

  <button
    class="toggle-btn"
    aria-label="toggle button"
    #toggleBtn
    (click)="toggleNav()"
  >
    <div class="toggle-line top"></div>
    <div class="toggle-line bottom"></div>
  </button>
</header>

<!-- Mobile Navigation -->
<nav class="mobile-nav" #nav>
  <div class="nav-list__container">
    <ul class="nav-list">
      <li class="nav-item" routerLink="/three" routerLinkActive="active">
        3 x 3
      </li>
      <li class="nav-item" routerLink="/four" routerLinkActive="active">
        4 x 4
      </li>
      <li class="nav-item" routerLink="/five" routerLinkActive="active">
        5 x 5
      </li>
    </ul>
  </div>
</nav>
