@import "./../shared/shared";

:host {
  width: 100%;
}

h2 {
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
  margin: 2rem 0 3rem;

  @media (min-width: $sm) {
    font-size: 2.5rem;
    margin: 2rem 0 4rem;
  }
}

ul {
  @include display-flex();
  flex-wrap: wrap;
  gap: toRem(32);
  width: 100%;
  list-style: none;
  padding-bottom: toRem(64);

  @media (min-width: $lg) {
    gap: toRem(48);
  }
  @media (min-width: $two-xl) {
    gap: toRem(64);
  }
}

li {
  @include display-flex();
  width: 100%;
  flex-shrink: 0;
  cursor: pointer;
  background-color: var(--main-brown);
  border-radius: toRem(8);
  transition: transform 0.2s ease-out;

  @media (hover: hover) {
    &:hover {
      transform: scale(1.05);
    }
  }

  @media screen and (min-width: toRem(540)) {
    width: calc(50% - toRem(16));
  }

  @media screen and (min-width: $lg) {
    width: calc(33.33% - toRem(32));
  }

  @media screen and (min-width: $lg) {
    width: calc(33.33% - toRem(44));
  }

  img {
    width: 100%;
    height: auto;
    border-radius: toRem(8);
    box-shadow: 2px 2px 5px rgba(49, 49, 49, 0.5);
  }
}
